*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  font-family: Helvetica, sans-serif
  background-color: #424242
  line-height: 1.5em

  h2
    font-size: 1.5em
    font-weight: bold
    margin-bottom: 1.5em

  p
    margin: 1.5em

.container
  width: 75%
  margin: 2% auto 0
  border: 1px solid black
  padding: 2%
  background-color: white

.main
  text-align: center

  ul
    list-style: none

    li
      padding-left: 0

table
  max-width: 60%px
  margin: 10px auto

  caption
    font-size: 1.6em
    font-weight: 400
    padding: 10px 0

  th
    font-weight: 400
    background: #8a97a0
    color: #FFF

  tr
    background: #f4f7f8
    border-bottom: 1px solid #FFF
    margin-bottom: 5px

  tr:nth-child(even)
    background: #e8eeef

  th, td
    text-align: center
    padding: 20px
    font-weight: 300

.notice
  width: 75%
  margin: 1% auto 0
  text-align: center
  background-color: #6ed187
  border: 1px solid black
  padding: 1% 3%
