%section.main
  %h2 New report

  = simple_form_for @report do |f|
    = f.input :title, label: "Title of the report"
    = f.input :file, as: :file, label: "Select Excel file"
    = f.button :submit, label: "Create new report"
