%table
  %caption= @report.title
  %tr
    %th Month
    %th Number of total services

  - @service_reports.each do |item|
    %tr
      %td= Date::MONTHNAMES[item.month]
      %td= item.total_services
